*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: Inter,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,sans-serif;
}
#red{
    color: red;
    font-weight: 500;
}
a{
    color:red;text-decoration: none;
    
}
label{
    display: block;
    

}
button{
    display: block;
    
    border: none;
    width: 428px;
    height: 44px;
    background-color: #da2828;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    

}
div{
    width: 448px;
    margin: auto;
    padding-top:180px;
}
#h1{
    
    font-weight: 700;
    font-size: 1.760rem;
    margin-bottom: 7px;
}

input{
    width: 428px;
    height: 44px;
    border: none;
    background-color:rgba(169, 169, 169, 0.102);
    border-radius: 5px;
    padding: 8px;
}
p{
    margin-left: 10px;
    font-weight: 500;
   
}
img{
    width: 130px;
    margin-top: 18px;
    margin-left: 20px;
}
#footer{
    text-align: center;
    position: fixed;
    left: 35%;
    bottom: 0;
    margin-bottom: 30px;
}
#social{
    font-weight: 600;

}
.color{
    color: red;
}
